.grid{
	display:grid;
	grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
	grid-gap: 10px;
	grid-auto-flow:row;
}
.grid2{
	display:grid;
	grid-template-columns: repeat(auto-fill, minmax(50px,1fr));
	grid-gap: 10px;
	grid-auto-flow:row;
}

.grid3{
	display:grid;
	grid-template-columns: repeat(auto-fit, minmax(50px,1fr));
	grid-gap: 10px;
	grid-auto-flow:row;
}

